# MongoDB
MONGODB_URI=mongodb+srv://trantai306_db_user:FHBuXtedXaFLBr22@cluster0.aa02bn1.mongodb.net/?appName=Cluster0
MONGODB_DB_NAME=fproxy

# Backend
JWT_SECRET=your-super-secret-jwt-key-change-this

# GoProxy
DEBUG=false
MAIN_TARGET_SERVER=http://103.216.119.155:4141
MAIN_UPSTREAM_KEY=test

# Domain (for reference)
DOMAIN=trollllm.xyz
